<div ul class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01"
    >Specialization</label
  >
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Select</option>
    <option value="1">Child</option>
    <option value="2">Neuro</option>
    <option value="3">Physician</option>
  </select>
</div>

<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Doctor Name</label>
  <select class="form-select" id="inputGroupSelect01">
    <option selected>Select</option>
    <option value="1">Dr. KLP Kariyawasam</option>
    <option value="2">Dr. PL lalanthi</option>
    <option value="3">Dr. KS Somanayaka</option>
  </select>
</div>
