<!--

<div class="Container">
  <h1>Working offline?</h1>
  <app-navigation></app-navigation>
  <img src="../assets/images/doctors.jpg " width="100%" />
  <app-contact></app-contact>

  <app-description></app-description>
  <app-doctype></app-doctype>
  <app-doctor></app-doctor>
  <app-dialog></app-dialog>


</div>

-->

<!-- Button Section-->
<!--
<div>
  <button (click)="displayTable()" type="button" class="btn btn-primary">
    SHOW
  </button>
  <button (click)="displayAddForm()" type="button" class="btn btn-primary">
    ADD
  </button>
  <button type="button" class="btn btn-success">UPDATE</button>
  <button type="button" class="btn btn-danger">DELETE</button>
  <button (click)="displayTable()">Display</button>
</div>

<app-show-edit *ngIf="!isDisplay"></app-show-edit>
<app-add *ngIf="!activeAddForm"></app-add>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<app-patient-list></app-patient-list>

-->

<!--
Share data btw two unrelated components
<app-send> </app-send>
<app-receive></app-receive>
-->
<app-parent></app-parent>
<app-sibiling></app-sibiling>
<router-outlet></router-outlet>
